**/.DS_Store
Books/追寻敬虔/Web/dist/
Books/追寻敬虔/Web/.venv/
Books/追寻敬虔/Web/**/__pycache__/
Books/追寻敬虔/Notes/Annotations/.*.tmp
Books/追寻敬虔/Original/~$G Draft 20170911 20211005.doc
Books/追寻敬虔/~$ritan Studies Study Guide 2026 April.DOC
Books/追寻敬虔/~$G ?? 與譯名對照表  extension.doc
